<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-left d-none d-xl-block">
        <div class="info-box info-box-icon-left p-0">
          <i class="icon-shipping text-primary"></i>
          <div class="info-box-content0">
            <h4 class="mb-0">Livraison rapide partout au Maroc</h4>
          </div>
        </div>
      </div>
      <div class="header-right header-dropdowns">
        <div class="header-dropdown dropdown-expanded d-none d-lg-block">
          <a href="#">Links</a>
          <div class="header-menu">
            <ul>
              <li>
                <a href="#">
                  <i class="icon-phone"></i>
                  +212 522 907 703 / +212 662 764 816
                </a>
              </li>
            </ul>
          </div>
        </div>
        <span class="separator d-none d-lg-inline"></span>
        <div class="social-icons">
          <a
            href="#"
            class="social-icon social-instagram icon-instagram"
            target="_blank"
          ></a>
          <a
            href="#"
            class="social-icon social-twitter icon-twitter"
            target="_blank"
          ></a>
          <a
            href="#"
            class="social-icon social-facebook icon-facebook"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="header-middle sticky-header"
    data-sticky-options="{'mobile': true}"
  >
    <div class="container">
      <div class="header-left w-lg-max">
        <button class="mobile-menu-toggler text-primary mr-2" type="button">
          <i class="fas fa-bars"></i>
        </button>
        <a href="/" class="logo">
          <img
            src="/assets/images/logo.png"
            class="w-100"
            width="211"
            height="144"
            alt="HYGIMAR Logo"
          />
        </a>
        <div
          class="header-icon header-search header-search-inline header-search-category d-lg-block d-none text-right mt-0"
        >
          <a href="#" class="search-toggle" role="button"
            ><i class="icon-magnifier"></i
          ></a>
          <form action="#" method="get" onsubmit="return false;">
            <div class="header-search-wrapper">
              <input
                type="search"
                class="form-control"
                name="q"
                id="search-input"
                placeholder="Search..."
                required
                oninput="fetchSearchResults()"
              />
              <button
                class="btn icon-magnifier p-0"
                title="search"
                type="submit"
              ></button>
            </div>
            <ul id="search-results" class="list-group"></ul>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="header-bottom sticky-header d-none d-lg-flex"
    data-sticky-options="{'mobile': false}"
  >
    <div class="container">
      <div class="header-center w-100 ml-0">
        <nav class="main-nav d-flex font2">
          <div class="menu-depart">
            <a href="/"
              ><i class="fa fa-bars align-middle mr-3"></i> Categories</a
            >
            <ul class="menu menu-vertical">
              <% categories.forEach(category => { %>
              <li>
                <a href="/categorie/<%= category._id %>"
                  ><%= category.catg_name %></a
                >

                <% if (category.subcategories && category.subcategories.length >
                0) { %>

                <span class="menu-btn"></span>
                <div class="megamenu megamenu-fixed-width megamenu-one">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="submenu">
                        <% category.subcategories.forEach(subcategory => { %>
                        <li>
                          <a href="/subcategorie/<%= subcategory._id %>">
                            <%= subcategory.subcatg_name %>
                          </a>
                        </li>
                        <% }) %>
                      </ul>
                    </div>
                  </div>
                </div>
                <% } %>
              </li>
              <% }) %>
            </ul>
          </div>
          <ul class="menu">
            <li><a href="/">Accueil</a></li>
            <li><a href="/a-propos">À Propos</a></li>
            <li><a href="/produits">Boutique</a></li>

            <li>
              <a href="#">Nos Marques</a>
              <ul class="custom-scrollbar">
                <% marks.forEach(category => { %>
                <li>
                  <a href="/marque/<%= category._id %>"
                    ><%= category.mark_name %></a
                  >
                </li>
                <% }) %>
              </ul>
            </li>
            <li>
              <a href="#">Nos Categories</a>
              <ul class="custom-scrollbar">
                <% categories.forEach(category => { %>
                <li>
                  <a href="/categorie/<%= category._id %>"
                    ><%= category.catg_name %></a
                  >
                </li>
                <% }) %>
              </ul>
            </li>
            <li>
              <a href="#">Nos Catalogues</a>
              <ul class="custom-scrollbar">
                <li>
                  <a
                    target="_blank"
                    href="<%= IMAGE_BASE_URL %>/uploads/catalogues/c2a5a0d8-3b14-48ba-98ac-78e964d0eae1.pdf"
                    >Catalogue HYGIMAR PHAGOGENE</a
                  >
                  <a
                    target="_blank"
                    href="<%= IMAGE_BASE_URL %>/uploads/catalogues/Catalogue HYGIMAR 2024.pdf"
                    >Catalogue HYGIMAR
                  </a>
                  <a
                    target="_blank"
                    href="<%= IMAGE_BASE_URL %>/uploads/catalogues/b3873f71-c270-400f-a09f-a043331fae37.pdf"
                    >Catalogue Nilfisk</a
                  >
                  <a
                    target="_blank"
                    href="<%= IMAGE_BASE_URL %>/uploads/catalogues/19dc887b-76c8-4c64-9274-ecd4903ec82b.pdf"
                    >Catalogue Viper</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="info-boxes font2 align-items-center ml-auto">
          <div class="info-item">
            <a href="/contact"
              ><i class="icon-business-book"></i>Contactez Nous</a
            >
          </div>
        </div>
      </div>
      <div class="header-right"></div>
    </div>
  </div>
</header>
<script>
  async function fetchSearchResults() {
    const query = document.getElementById("search-input").value;
    if (query.length < 3) {
      // Only search when the query is at least 3 characters long
      document.getElementById("search-results").innerHTML = "";
      return;
    }

    try {
      const response = await fetch(`/api/product/search?q=${query}`);
      const data = await response.json();
      const resultsList = document.getElementById("search-results");
      resultsList.innerHTML = "";

      if (!Array.isArray(data)) {
        console.error("Unexpected response structure:", data);
        return;
      }

      if (data.length === 0) {
        resultsList.innerHTML =
          '<li class="list-group-item">No results found</li>';
        return;
      }

      data.forEach((product) => {
        const listItem = document.createElement("li");
        listItem.className = "list-group-item";
        listItem.innerHTML = `<a href="/produit/${product._id}">${product.name}</a>`;
        resultsList.appendChild(listItem);
      });
    } catch (error) {
      console.error("Error fetching search results:", error);
    }
  }
</script>

<style>
  #search-results {
    position: absolute;
    background: white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1000;
  }

  .list-group-item {
    cursor: pointer;
    text-align: left;
  }

  .list-group-item a {
    text-decoration: none;
    color: inherit;
  }

  .list-group-item:hover {
    background-color: #f0f0f0;
  }

  .list-group-item a:hover {
    text-decoration: underline;
  }
</style>
