<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Hygimar - Marque <%= category.catg_name %></title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template" />
    <meta name="author" content="SW-THEMES" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/icons/favicon.png"
    />

    <script>
      WebFontConfig = {
        google: {
          families: [
            "Open+Sans:300,400,600,700,800",
            "Poppins:200,300,400,500,600,700,800",
            "Oswald:300,400,500,600,700,800",
          ],
        },
      };
      (function (d) {
        var wf = d.createElement("script"),
          s = d.scripts[0];
        wf.src = "/assets/js/webfont.js";
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/demo35.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/vendor/fontawesome-free/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/vendor/simple-line-icons/css/simple-line-icons.min.css"
    />
  </head>

  <body>
    <div class="page-wrapper">
      <%- include('partials/header.ejs', { categories: categories,
      markedCategories: markedCategories }) %>

      <main class="main">
        <div class="category-banner-container bg-gray">
          <div
            class="category-banner banner text-uppercase"
            style="
              background: no-repeat 60% / cover
                url('/assets/images/banner-topmark.png');
            "
          >
            <div class="container position-relative">
              <div class="row">
                <div
                  class="pl-lg-5 pb-5 pb-md-0 col-md-5 col-xl-4 col-lg-4 offset-1"
                >
                  <h3>Marque: <%= category.catg_name %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/"><i class="icon-home"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <%= category.catg_name %>
              </li>
            </ol>
          </nav>

          <div class="row">
            <% products.forEach(product => { %>
            <div class="col-6 col-sm-4 col-md-3 col-xl-5col">
              <div class="product-default inner-quickview inner-icon">
                <figure>
                  <a href="/produit/<%= product._id %>">
                    <img
                      src="/<%= product.primaryImage %>"
                      width="217"
                      height="217"
                      alt="product"
                    />
                  </a>
                  <a
                    href="/produit/<%= product._id %>"
                    class="btn-quickview"
                    title="Voir Plus"
                    >Voir Plus</a
                  >
                </figure>
                <div class="product-details">
                  <div class="category-wrap">
                    <div class="category-list">
                      <a
                        href="/subcategorie/<%= product.id_subcatg._id %>"
                        class="product-category"
                        ><%= product.id_subcatg.subcatg_name %></a
                      >
                    </div>
                  </div>
                  <h3 class="product-title">
                    <a href="/produit/<%= product._id %>"
                      ><%= product.name %></a
                    >
                  </h3>
                </div>
              </div>
            </div>
            <!-- End .col-sm-4 -->
            <% }) %>
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
        <div class="sidebar-overlay"></div>
        <aside
          class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar d-lg-none"
        >
          <!-- Add your sidebar content here -->
        </aside>
        <!-- End .col-lg-3 -->

        <div class="mb-3"></div>
        <!-- margin -->
      </main>
      <!-- End .main -->

      <%- include('partials/footer.ejs', { categories: categories,
      markedCategories: markedCategories }) %>
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
      <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <%- include('partials/menu-mobile.ejs', { categories: categories,
    markedCategories: markedCategories }) %>

    <a id="scroll-top" href="#top" title="Top" role="button"
      ><i class="icon-angle-up"></i
    ></a>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins.min.js"></script>
    <script src="/assets/js/nouislider.min.js"></script>
    <script src="/assets/js/jquery.plugin.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>

    <!-- Main JS File -->
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
